.background{
   background-image: url("../../../../assets/img/homepage.jpg");
   width: 100%;
   background-color: rgba(0,0,0,.65);
   }

.container{
    background-color: white;
    width: 600px;
    
}